/* ---- stylings ---
1: #??
2: #??

*/
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap');
/* ---- reset ---- */

html {
    box-sizing: border-box;
    background-color: black;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 75px 0 0 0;
    font-family: 'Major Mono Display', monospace;

}

body p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-family: 'Major Mono Display', monospace;
    letter-spacing: 10px;
    color: white;
}

/* Game screen*/

.splash-main {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.start-btn , .restart-btn {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ed3330;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 15px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    
}
.start-btn:hover {
    background: #434343;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    }  

    .restart-btn:hover {
        background: #434343;
        letter-spacing: 1px;
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
        transition: all 0.4s ease 0s;
        }  

.instructions {
    color: white;
}

.right-btn {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background: #ed3330;
    margin-bottom: 10px;
    padding: 5px 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}


.instructions p {
    color: white;
    font-family: 'Major Mono Display', monospace;
    font-weight: bold;
    text-align: center;
    text-decoration: underline white; 
}

.instructions li {
    color: white;
    font-family: 'Major Mono Display', monospace;
    font-weight: bold;
    list-style: none;
}

/* Game screen*/
.game-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

.left-side {
    height: 768px;
    width: 256px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.score-lives {
    color: white;
    font-family: 'Major Mono Display', monospace;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.grandma-tip {
    color: white;
    font-family: 'Major Mono Display', monospace;
}

.canvas-container {
    height: 768px;
    width: 768px;
    background-color: white;
    display: flex;
    flex-direction: row;
}


/* GameOver screen*/

.gameover-main {
    color: white;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    align-content: center;
}
