/* ---- stylings ---
1: #??
2: #??

*/
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap');
/* ---- reset ---- */

html {
    box-sizing: border-box;
    background-color: black;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 75px 0 0 0;
    font-family: 'Major Mono Display', monospace;

}

body p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-family: 'Major Mono Display', monospace;
    letter-spacing: 10px;
    color: white;
}

/* Game screen*/

.splash-main {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    align-content: center;
}


/* Game screen*/
.game-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

.left-side {
    height: 768px;
    width: 256px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.score-lives {
    color: white;
    font-family: 'Major Mono Display', monospace;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.grandma-tip p {
    color: white;
    font-family: 'Major Mono Display', monospace;
}

.canvas-container {
    height: 768px;
    width: 768px;
    background-color: white;
    display: flex;
    flex-direction: row;
}


/* GameOver screen*/

.gameover-main {
    color: white;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    align-content: center;
}